%h2 GET '/latest/:library' 
%h3 Params
%ul
  %li
    %strong library:
    whatever library you want to get.
%ul
  %li
    %strong provider (optional):
    %ul
      %li all (default)
      %li cdnjs
      %li google
      %li microsoft

%p Gets the latest library for a provider. If there's none, it will throw a 404.

%h3 Examples 

%strong
  %code ➜  curl http://cdnio.uxtemple.com/latest/jquery -H "Accept: application/json" -H "Content-type: application/json"
%p Response:
%code=File.read(File.join(File.dirname(__FILE__), 'jquery.out')) 

%br
%br
%strong
  %code ➜  curl http://cdnio.uxtemple.com/latest/jquery\?provider\=cdjns -H "Accept: application/json" -H "Content-type: application/json"
%p Response:
%code=File.read(File.join(File.dirname(__FILE__), 'jquery-cdnjs.out')) 
